@{
  ViewData["Title"] = "Container layout - Layouts";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class='layout-demo-placeholder'>
      <img src="~/img/layouts/layout-container-light.png" class="img-fluid" alt="Layout container" data-app-light-img="layouts/layout-container-light.png" data-app-dark-img="layouts/layout-container-dark.png">
  </div>
  <div class="layout-demo-info">
    <h4>Layout container</h4>
    <p>Container layout sets a <code>max-width</code> at each responsive breakpoint.</p>
  </div>
</div>
