@{
  ViewData["Title"] = "Without Menu layout - Layouts";
  ViewData["navbarHideToggle"] = true;
  ViewData["isMenu"] = false;
  ViewData["menuFixed"] = "";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
      <img src="~/img/layouts/layout-without-menu-light.png" class="img-fluid" alt="Layout without menu" data-app-light-img="layouts/layout-without-menu-light.png" data-app-dark-img="layouts/layout-without-menu-dark.png">
  </div>
  <div class="layout-demo-info">
    <h4>Layout without Menu (Navigation)</h4>
    <button class="btn btn-primary" type="button" onclick="history.back()">Go Back</button>
  </div>
</div>
